body.property-detail-page{ padding-top:20px; background:#e8dfce; padding-bottom:20px; }
body .property-detail-container{
  max-width:767px;
  margin:0 auto;
  background:#fff;
  -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
}
body .property-detail-container .header-top{ text-align:center; padding:15px;}
body .property-detail-container .header-top .logo img{ width:100px; height:auto;}
.showcase{clear:both;}
.property-name-titel{font-size:16px; font-weight:bold; text-align:left; padding:15px; margin:0; background:#efcd82; color:#232121; border-bottom:1px solid #fff;}

.poperty-detail-content{padding:20px 0; font-size:12px; }
.poperty-detail-content h4{
  color:#111;
  font-size:14px;
  font-weight: bold;
}

.pro-block{
  padding: 0 15px;
  border:1px solid #ccc;
  margin-bottom:20px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}
.pro-block div.row{
  padding-top:10px;
  border-bottom:1px solid #e8e8e8;
}
.pro-block div.row:last-child{  border-bottom:0; }
.pro-block dl{ margin-bottom: 10px;}

.property-detail-list{margin:0; list-style:none; padding:0;}
.property-detail-list li{padding:0; clear:both;}

.pro-faciltiy-list-outer{text-align:center; width:100%; float:left;  margin:0 0 15px 0;}
ul.pro-faciltiy-list{ margin:0; padding:0; list-style:none; }
ul.pro-faciltiy-list li{ margin:0; padding:0; list-style:none; float: left; width:20%; padding:4px 4px 0 4px; margin-bottom:5px; color:#5b5b5b; font-weight:bold;}
ul.pro-faciltiy-list li > div{ border:1px solid #ccc; padding:10px 10px; border-radius:3px; -moz-border-radius:3px;  -webkit-border-radius:3px; }
ul.pro-faciltiy-list li:hover > div{background-color:#f9f1e1; border-color:#bcaf95;}

ul.pro-faciltiy-list li i.icon{display:block; margin:0 0 10px 0;}
ul.pro-faciltiy-list li i.icon img{width:32px;}
ul.pro-faciltiy-list li > div > span{display:block; overflow: hidden;  white-space: nowrap;  text-overflow: ellipsis;}

/*-- property-distance-block --*/
.property-distance-block i.icon{display:inline-block; margin-right:5px; margin-left:5px;}
.property-distance-block i.icon img{width:32px;}
.property-distance-block dl dt{text-align:right;}

.property-distance-block dl dd{padding:8px 0;}

/*-- --*/
.map-block img{
  width:100%;
}

@media (max-width: 767px) {

    body .property-detail-container{max-width:767px; width:85%;}
   .pro-block div.row{border:0; padding-top:0;}
   .pro-block div.row > div {padding-top:10px; border-bottom:1px solid #e8e8e8;}
   .pro-block div.row:last-child > div:last-child{border:0;}
   .pro-block dl.dl-horizontal dt{ width:100px;clear: left; float: left; overflow: hidden;}
   .pro-block dl.dl-horizontal dd{margin-left:110px;   }

   ul.pro-faciltiy-list li{ width:33%;}

}
@media (max-width: 510px) {
  body .property-detail-container{width:95%;}
  ul.pro-faciltiy-list li{ width:50%;}
}

/*-- --*/
/* jssor slider arrow navigator skin 05 css */
        /*
        .jssora05l                  (normal)
        .jssora05r                  (normal)
        .jssora05l:hover            (normal mouseover)
        .jssora05r:hover            (normal mouseover)
        .jssora05l.jssora05ldn      (mousedown)
        .jssora05r.jssora05rdn      (mousedown)
        */
        .jssora05l, .jssora05r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 40px;
            cursor: pointer;
            background: url('../../img/a17.png') no-repeat;
            overflow: hidden;
        }
        .jssora05l { background-position: -10px -40px; }
        .jssora05r { background-position: -70px -40px; }
        .jssora05l:hover { background-position: -130px -40px; }
        .jssora05r:hover { background-position: -190px -40px; }
        .jssora05l.jssora05ldn { background-position: -250px -40px; }
        .jssora05r.jssora05rdn { background-position: -310px -40px; }

        /* jssor slider thumbnail navigator skin 01 css */
        /*
        .jssort01 .p            (normal)
        .jssort01 .p:hover      (normal mouseover)
        .jssort01 .p.pav        (active)
        .jssort01 .p.pdn        (mousedown)
        */
        .jssort01 .p {
            position: absolute;
            top: 0;
            left: 0;
            width: 72px;
            height: 72px;
        }

        .jssort01 .t {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
        }

        .jssort01 .w {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
        }

        .jssort01 .c {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 68px;
            height: 68px;
            border: #000 2px solid;
            box-sizing: content-box;
            background: url('../../img/t01.png') -800px -800px no-repeat;
            _background: none;
        }

        .jssort01 .pav .c {
            top: 2px;
            _top: 0px;
            left: 2px;
            _left: 0px;
            width: 68px;
            height: 68px;
            border: #000 0px solid;
            _border: #fff 2px solid;
            background-position: 50% 50%;
        }

        .jssort01 .p:hover .c {
            top: 0px;
            left: 0px;
            width: 70px;
            height: 70px;
            border: #fff 1px solid;
            background-position: 50% 50%;
        }

        .jssort01 .p.pdn .c {
            background-position: 50% 50%;
            width: 68px;
            height: 68px;
            border: #000 2px solid;
        }

        * html .jssort01 .c, * html .jssort01 .pdn .c, * html .jssort01 .pav .c {
            /* ie quirks mode adjust */
            width /**/: 72px;
            height /**/: 72px;
        }
        .footer{
        padding:15px;
        text-align: center;
        font-size:12px;
        border-top:1px solid #eee;
      }
       /*-- Other Links --*/
    .otherlinks-block > .row{ border-bottom:1px solid #e8e8e8;}
    .otherlinks-block a{ color:#af7a2c;}
    .url-links-row{position:relative; padding-left:60px; margin-bottom:15px;}
    .link-icon{display:inline-block; margin-left:-40px; position:absolute;}
    .link-icon img{width:24px;}