img{
	max-width:100%;
	height:auto;
	width:auto\9;/*ie8*/
}

@media screen and (max-width: 1280px){}
@media screen and (max-width: 1024px){}
@media screen and (max-width: 980px){}
@media screen and (max-width: 800px){
.wrapper{
	width:98% !important;
}
}
@media screen and (max-width: 768px){
.largefd {
    width: 70%;
}
.smfild {
    float: left;
    padding: 5px 3px;
    width: 46%;
}
.smfildright {
    float: left;
    padding-left: 10px;
    width: 100px;
}
}
@media screen and (max-width: 640px){
.frmpadd {
    padding: 10px;
}
.propertyleft, .propertyright{
	width:100%;
	float:none;
	padding-left:0px;
	border-left:none;
}
.inpselect1{
	width:98.5%;
	width:96%!important;
	padding:4px;	
}
.textarea1{
	width:97%;
	padding:4px;	
}


.col-1 {
    width: 30%;
}
.col-2 {
    width: 30.6%;
}
.smfildleft, .smfildright {
    float: none;
    font-size: 14px;
    width: 100%;
	padding:0px;
}
.sminpselect{
	width:90%;
}

}
@media screen and (max-width: 600px){}
@media screen and (max-width: 480px){
.wrapper{
	width:95%;
}
.fldimg{
	float:none !important;
	text-align:center !important;
	width:100% !important;
	padding:0px 0px 10px 0px !important;
}
.fldimg-txt{
	float:none;
	width:100%;
	padding-bottom:15px;
}
.leftpart, .rightpart{
	float:none;
	width:100%;
	padding:0px;
}
.propertypadd{
	padding:10px;
	padding:0px;
}
.fildleft, .fildright, .lable{
	width:100%;
	float:none;
	padding:2px 0px;
}
.twofildmain{
	padding:0px 0px 5px 0px;
}
.inpselect2{
	width:98.5%;
	padding:4px;
}

/*Menu Css*/
.row-fluid .span2 {
    width: 100%;
}
.row-fluid .span10 {
    width: 100%;
}
#cssmenu {
  width: 100%!important;
  color: #ffffff;
}

.largefd {
    width: 40%;
}
.col-1, .col-2 {
    width: 100%;
	margin:0px 0px 15px 0px;
}
.scroll-1 {
    width: 95%;
}
/*---property icon main---*/
.property-icon-main{
	width:100%;
}
.property-icon{
	width:100%;
	float:none;
	clear:both;
}
.property-icon img, .property-icon span{
	padding-bottom:10px;
}
.txtbdr{
float:none !important;
width:96% !important;
padding:8px 5px !important;
margin:0px 0px 10px 0px !important;
 
}

.cldcolm01{
	width:8%;
	padding:5px 20px 0px 0px;
	font-size:11px;
}
.cldcolm02{
	width:80%;
}
.cldcolm h1{
	font-size:1.3em;
}
.cldcolm {
    padding: 10px 0px;
}

/*--Scroll Facility--*/
.scroll1, .scroll2{
	width: 96%!important;
	overflow-y:scroll!important;
	border:1px solid #ccc!important; 
	padding:5px!important;

	height:200px!important;
	overflow-y:scroll!important;
}


}

@media screen and (max-width: 360px){
	/*--Calender--*/
.cldcolm01{
	width:15%;
	padding:5px 10px 0px 0px;
	font-size:11px;
}
.cldcolm02 {
    font-size: 11px;
    width: 72%;
}

.popup {
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 80%;
    position: relative;
    transition: all 5s ease-in-out;
  }

}
@media screen and (max-width: 320px){}